<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kalus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Kalus.Properties.Settings>
            <setting name="runesPageNotAsActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="runesOverrideOldestPage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="randomSkinAddChromas" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="randomSkinOnPick" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="summonersFlashPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="summonersAlwaysSnowball" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="aramRerollForChampion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="aramTradeForChampion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="aramRepickChampion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="utilityPick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="utilityBan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="utilityAram" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="utilityRunes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="utilityReadyCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="utilitySummoners" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pick" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ban" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="noAvailablePick" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="onSelection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="flashPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pickOTL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="banOTL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="checkInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="openOnWindowsStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="runInBackground" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="openWithClient" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="closeWithClient" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="localization" serializeAs="String">
                <value>en-GB</value>
            </setting>
        </Kalus.Properties.Settings>
    </userSettings>
</configuration>